@model HospitalManagementSystem.Models.patient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bloodGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bloodGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emergencyContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emergencyContact)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.patientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
