@model IEnumerable<HospitalManagementSystem.Models.patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.patientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bloodGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emergencyContact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.patientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bloodGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emergencyContact)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.patientId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.patientId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.patientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
